<div class="container">
    <div class="jumbotron text-center">
        <h1>News Article Scraper</h1>
    </div>
    <div class="card">
        <div class="card-body">
            {{#if data}}
            <table class="table table-hover">
                <thead>
                    <th colspan="3">
                        Headlines
                    </th>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr id="{{@index}}" data-obj="{{stringObj}}">
                        <td>
                            {{#if image}}
                            <img src="{{image}}" class="img-thumbnail" alt="article thumb">
                            {{else}}
                            <img src="assets/images/default.jpg" class="img-thumbnail" alt="default thumb">
                            {{/if}}
                        </td>
                        <td>
                            <p>{{section}}</p>
                            <a href="{{link}}">{{headline}}</a>
                            <p>{{{summary}}}</p>
                        </td>
                        <td class="align-middle">
                            <button class="btn btn-primary save-btn" data-id="{{@index}}">Save</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            Nothing new.
            <a href="scrape" class="btn btn-primary" id="scrape-btn">Scrape All Headlines</a href="scrape">
            {{/if}}
        </div>
    </div>
</div>